
// Brand Primary
$red:     rgb(240, 15, 30);

$body-bg:                   #fafafa;
$body-color:                #0e0e0e;

$primary:       $red;

$app-padding: 40px;
$app-padding-md: 40px;
$navItemWidth: 48px;

$font-family-sans-serif:      'IBM Plex Sans', sans-serif;
// $font-family-sans-serif:      'Turret Road', cursive;
// $font-family-sans-serif:      'Mansalva', cursive;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            600;

$line-height-base:            1.7; //

$h1-font-size:                40px;
$h2-font-size:                30px;
$h3-font-size:                24px;
$h4-font-size:                20px;

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;
