
$red:     rgb(240, 15, 30);

// $body-bg:                   #000000;
// $body-color:                #fafafa;
$body-bg:                   #fafafa;
$body-color:                #000000;

$primary:       $red;
// $secondary:     $gray-600;
// $light:         $gray-100;
// $dark:          $gray-800;

$app-padding: 40px;
$app-padding-md: 40px;
$navItemWidth: 48px;


$font-family-sans-serif:      'IBM Plex Sans', sans-serif;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            600;

$line-height-base:            1.7; //

$h1-font-size:                40px;
$h2-font-size:                30px;
$h3-font-size:                24px;
$h4-font-size:                20px;

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;
