@import './design';


body {
  background: var(--body-bg, $body-bg);
  color: var(--body-color, $body-color);
  transition: background 0.3s ease;
}

html {
  font-size: 14px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }

  @media (min-width: 1500px) {
    font-size: 18px;
  }
}


// h1, h2, h3, h4, h5, h6 {
//
// }

em {
  font-family: $font-family-serif;
  font-style: italic;
  font-weight: 300;
  // font-size: 1.1em;
}
